<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SoundCloud Instant</title>
  <script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <div id="autoupdate-widget">
    <%= erb :widget %>
  </div>

  <div>
    <input type="text" name="search_box" id="search_box" spellcheck="false" placeholder="Search for.." />
  </div>

  <script type="text/javascript" charset="utf-8">
    document.getElementById("search_box").onkeyup = function(event) {
      instantSearch();
    }

    function instantSearch() {
      var _url = "<%= @url %>";
      var query = document.getElementById("search_box").value;
      $.post(_url, { q: query }, function(widget_html) {
          $('#autoupdate-widget').html(widget_html);
      });
    }
  </script>
  
</body>
</html>
